<div class="col-xl-3 col-md-6">
              <div class="show">
                <div class="show_image">
                  <a href="episode.html">
                    <img style="height: 100%;width: 100%" src="../assets/<%= category.picture %>" alt="https://unsplash.com/@h4rd3n">
                    <div class="show_play_icon"><img src="../assets/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                    <div class="show_title_2"><%= category.title %></div>
                  </a>
                  <div class="show_tags">
                    <div class="tags">
                      <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="#"><%= category.title %></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
