 <div class="custom-card">
                            <div class="custom-card--img">
                                <a href="artist-details.html"><img src="../assets/cover/large/1.jpg" alt="Arebica Luna" class="card-img--radius-lg"></a>
                            </div><a href="artist-details.html" class="custom-card--link mt-2"><h6 class="mb-0">Arebica Luna</h6></a></div>