<div class="custom-card slick-slide slick-current slick-active" tabindex="0" style="width: 201px;" data-slick-index="0" aria-hidden="false">
    <div class="custom-card--img">
        <a href="javascript:void(0);" tabindex="0"><img src="<%= genre.picture %>" alt="Remix Songs" class="card-img--radius-md"> <span class="bg-blur"><%= genre.title %></span></a>
    </div>
</div>
