 <div class="custom-card">
                            <div class="custom-card--img">
                                <a href="artist-details.html"><img src="../assets/users/playlist.jpeg" style="width: 201px;height: 201px;" alt="<%= playlist.name %>" class="card-img--radius-lg"></a>
                            </div><a href="artist-details.html" class="custom-card--link mt-2"><h6 class="mb-0"><%= playlist.name %></h6></a></div>
