<div class="custom-card">
                            <div class="custom-card--img">
                                <a href="javascript:void(0);"><img src="<%= playlist.picture %>" alt="DJ Remix" class="card-img--radius-lg"> <span class="bg-blur"><%= playlist.title %></span></a>
                            </div>
                        </div>
