<div class="custom-card">
                            <div class="custom-card--img">
                                <a href="javascript:void(0);"><img src="../assets/background/horizontal/1.jpg" alt="DJ Remix" class="card-img--radius-lg"> <span class="bg-blur">DJ Remix</span></a>
                            </div>
                        </div>