<div class="modal fade bd-example-modal-lg" id="playlist" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Playlists</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

        <ul class="categories-list">

         <%= render partial: "static_pages/playlist_item", collection: @playlists %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeAll()" data-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary" data-toggle="modal" href="#create-playlist">Create a playlist</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="create-playlist" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
        <div class="modal-dialog" id="true-modal" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <h6 class="modal-title text-center mb-3" id="loginTitle">Create a playlist</h6>
                <div class="modal-body">
                        <%= form_for(@playlist, url: playlists_path, method: :post, remote: true) do |f| %>
                        <div class="form-group">
                           <%= f.text_field :name, :autofocus => true, :placeholder => "Name of the playlist", :class => "form-control" %>
                        </div>
                        <button type="submit" class="btn btn-block btn-bold btn-air btn-info" >Create</button>
                         <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>

<style type="text/css">
.modal-content{
  max-height: 500px;
}
/* IE7 */
.categories-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  justify-content: space-between;
}
.categories-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid gray;
  margin-right: 1rem;
  border-radius: 5px;
  min-width:150px;
  min-height:100px;
  margin:10px;
}

.categories-list li img {
  width: 50px;
  height: 50px;
}

</style>
