 <li>
            <% if playlist_item.picture.nil? %>
                   <img src="http://via.placeholder.com/30x40">
            <% else %>
                    <img src="<%= playlist_item.picture %>"/>
            <% end %>
            <a class="" href="#"><%= playlist_item.name %></a>
          </li>