  <div class="col-xl-4 col-md-6 col-12">
                                        <div class="custom-card mb-3">
                                            <a href="song-details.html" class="text-dark custom-card--inline">
                                                <div class="custom-card--inline-img"><img src="<%= search_album.picture %>" alt="" class="card-img--radius-sm"></div>
                                                <div class="custom-card--inline-desc">
                                                    <p class="text-truncate mb-0"><%= search_album.name %></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>