<div class="col-xl-2 col-md-4 col-6">
                                        <div class="custom-card mb-3">
                                            <a href="<%= artist_path(search_artist) %>" class="text-dark"><img src="<%= search_artist.picture %>" alt="" class="card-img--radius-md">
                                                <p class="text-truncate mt-2"><%= search_artist.name %></p>
                                            </a>
                                        </div>
                                    </div>