<div class="col-xl-2 col-md-4 col-6">
                                        <div class="custom-card mb-3">
                                            <a href="artist-details.html" class="text-dark"><img src="../assets/cover/medium/1.jpg" alt="" class="card-img--radius-md">
                                                <p class="text-truncate mt-2">Arebica Luna</p>
                                            </a>
                                        </div>
                                    </div>