<div class="show col-lg-4">
  <div class="show_image">
    <a href="<%= play_list_path playlist %>">
    <img height="150" width="150" src="../assets/<%= playlist.picture %>" alt="https://unsplash.com/@icons8">
    </a>
    <div class="show_play_icon"><img src="../assets/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
  </div>
  <div class="show-content">
    <a><%= playlist.name %></a>
  </div>
</div>
