

  <%= stylesheet_link_tag "static_pages" %>
      <%= stylesheet_link_tag 'songs_index' %>
  <!-- Home -->

  <div class="home">
   <img class="parallax_background parallax-window" src="../assets/about.jpg" alt="">
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
      <div class="home_content">
        <div class="home_title"><h1>Playlists</h1></div>
      </div>
    </div>
  </div>

  <!-- Episodes -->

  <div class="episodes">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="season_links">
            <ul class="nav nav-tabs d-flex flex-row align-items-start justify-content-center flex-wrap" id="myNavTabs">
              <li class="item_filter_btn" data-toggle="tab" data-filter="*"><a href="#public">Public</li></a>
              <li class="item_filter_btn" data-toggle="tab" data-filter=".s1"><a href="#myPlaylist">My playlists</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content">
  <div class="tab-pane fade in active" id="public">


        <!-- Sidebar -->


        <!-- Episodes -->


            <!-- Episode -->

              <%= render partial: "play_lists/playlist", collection: @playlists%>



    </div>
    <div class="tab-pane fade" id="myPlaylist">
      <div class="row episodes_row" >
      <%= render partial: "play_lists/playlist", collection: current_user.play_lists, as: :playlist %>
    </div>
    </div>
  </div>
      <div class="row page_nav_row">
        <div class="col">
          <div class="page_nav d-flex flex-row align-items-center justify-content-center">
            <ul class="d-flex flex-row" id="paginate-bar">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

<script type="text/javascript">
  $(document).ready(function(){
    $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})

  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
})
</script>
<style type="text/css">
  .show{
    padding-top: 10px;
    position: relative;
  }
  .row{
    margin-top: 0px;
  }
  .show_image{
    position: relative;
  }
  .show_play_icon{
    position: absolute;
    left: 75px;
  }
  .show-content a{
    font-size: 14px;
    line-height: 19px;
    font-family: 'SFProDisplay-Medium';
    color: black;
  }
  .show-content a:hover{
    color: red;
  }
  .show-content{
    left: 50px;
  }
</style>
