<li class="d-flex flex-row">
  <div>
    <div class="comment_image"><%= check_comment comment %></div>
  </div>
  <div class="comment_content">
    <div class="user_name"><a href="#"><%= comment.user_full_name %></a></div>
    <div class="comment_text">
      <p><%= comment.text %></p>
    </div>
  </div>
  <% if current_user.id == comment.user_id %>
    <div class="action">
      <%= link_to 'Delete', song_comment_path(song_id: comment.song.id, id: comment.id), method: :delete, remote: :true, class: 'delete' %>
    </div>
  <% end %>
</li>
