<div class="d-flex mb-4">
                        <div class="avatar avatar-sm avatar-circle"><img src="../assets/users/thumb.jpg" alt=""></div>
                        <div class="pl-3 flex-grow-1 flex-basis-0"><span class="d-block font-weight-bold mb-1">
                          <%= comment.title %>
                        </span>
                            <div class="text-warning stars mb-2 font-md"><i class="la la-star"></i> <i class="la la-star"></i> <i class="la la-star"></i> <i class="la la-star"></i> <i class="la la-star-half-empty"></i></div>
                            <p class="mb-2"><%= comment.text %></p></div>
                    </div>
