


      <%= stylesheet_link_tag 'songs_index' %>
  <!-- Home -->

  <div class="home">
   <img class="parallax_background parallax-window" src="../assets/about.jpg" alt="">
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
      <div class="home_content">
        <div class="home_title"><h1>Songs</h1></div>
      </div>
    </div>
  </div>

  <!-- Episodes -->

  <div class="episodes">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="season_links">
            <ul class="d-flex flex-row align-items-start justify-content-center flex-wrap">
              <li class="item_filter_btn" data-filter="*">Japanese</li>
              <li class="item_filter_btn" data-filter=".s1">Chinese</li>
              <li class="item_filter_btn" data-filter=".s2">Vietnamese</li>
              <li class="item_filter_btn" data-filter=".s3">English</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row episodes_row">

        <!-- Sidebar -->
        <div class="col-lg-3">
          <div class="sidebar">



            <!-- Categories -->
            <div class="sidebar_list">
              <div class="sidebar_title">Genres</div>
              <ul>
               <% @genres.each do |genre| %>
                <li><a href=""><%= genre.title %></a></li>
               <% end %>
              </ul>
            </div>

            <!-- Tags -->

            <!-- Archive -->
            <div class="sidebar_archive">
              <div class="sidebar_title">Archive</div>
              <div class="dropdown">
                <ul>
                  <li class="dropdown_selected d-flex flex-row align-items-center justify-content-start"><span>September 2018</span><i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    <ul>
                      <li><a href="#">August 2018</a></li>
                      <li><a href="#">July 2018</a></li>
                      <li><a href="#">June 2018</a></li>
                      <li><a href="#">May 2018</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Episodes -->
        <div class="col-lg-9 episodes_col">
          <div class="episodes_container">

            <!-- Episode -->

              <%= render @songs %>


          </div>
        </div>
      </div>
      <div class="row page_nav_row">
        <div class="col">
          <div class="page_nav d-flex flex-row align-items-center justify-content-center">
            <ul class="d-flex flex-row" id="paginate-bar">
             <%= paginate @songs, remote: true %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

