
            <div class="main-container">
                <div class="row section">
                    <div class="col-xl-8 col-md-10 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Add Music</h6></div>
                            <div class="card-body">
                                <%= form_for @song, url: "/songs", method: :post, remote: true do |f| %>
                                    <div class="form-row form-group">
                                        <label for="songName" class="col-md-4 text-md-right col-form-label">Song Name</label>
                                        <div class="col-md-7">
                                            <input type="text" id="songName" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <label for="songImage" class="col-md-4 text-md-right col-form-label">Song Cover Image</label>
                                        <div class="col-md-7">
                                            <div class="custom-file">
                                                <%= f.file_field :picture, class: "custom-file-input" %>
                                                <label class="custom-file-label" for="songImage">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <label for="songFile" class="col-md-4 text-md-right col-form-label">Song File</label>
                                        <div class="col-md-7">
                                            <div class="custom-file">
                                                <%= f.file_field :url, class: "custom-file-input" %>
                                                <label class="custom-file-label" for="songImage">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <label for="songGenres" class="col-md-4 text-md-right col-form-label">Genres</label>
                                        <div class="col-md-7">
                                            <div class="custom-file">
                                                <%= f.collection_select :genres, Genre.all, :id, :title, prompt: :select %>
                                                <label class="custom-file-label" for="songImage">Select genres</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <label for="artistName" class="col-md-4 text-md-right col-form-label">Artist Name</label>
                                        <div class="col-md-7">
                                            <input type="text" name="artist" id="artistName" class="form-control">
                                        </div>
                                    </div>
                               <% end %>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-7">
                                        <button type="submit" id="submit-btn" form="new_song" class="btn btn-brand btn-air">Save Song</button>
                                        <button type="button" id="clear-btn" class="btn btn-outline-secondary">Clear Form</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script type="text/javascript">
    
    $("#clear-btn").click(function(){
        $('#new_song').trigger('reset')
    })
</script>