<div class="col-xl-2 col-lg-3 col-sm-4 col-6 pb-4">
                            <div class="custom-card">
                                <div class="custom-card--img">
                                    <a class="playlist-xhr" href="javascript:play('<%= playlist.id %>')"><img src="../assets/users/playlist.jpeg" alt="I Love You Mummy" class="card-img--radius-md"></a>
                                </div>
                                 <button class="btn btn-primary" style="width: 100%"><%= playlist.name %></button>
                                </a>
                            </div>

                        </div>
<script type="text/javascript">
function convert(arr){
	let newArr = arr.map(song=>({
		name: song.title,
		artist: "undefined",
		album: "Album Name",
		url: song.url.url,
		cover_art_url: song.picture.url
	}))
	return newArr;
}
 function play(id){
 	$.ajax({
			url: "/post_song",
			dataType: "json",
			method: "POST",
			data: {"url": id},
			success: function(){
				$.ajax({
					url: "/get_songs.json",
					dataType: "json",
					method: "GET",
					success: function(res){
						console.log(res)
						let arr = convert(res);
						console.log(arr)
						if(arr.length > 0){
							Amplitude.addPlaylist(
							{songs: [...arr],
								playlists: {
									special: {
										songs: [...arr]
									}
						}})
						Amplitude.playNow(arr[0])
						$(".list-group-flush").html("<%= j render partial: 'layouts/sidebar_song', collection: @pl_songs %>")
						}
						else {
							$.notify("this playlist is empty","error")
						}
					
					},
					error: function(err){
						console.log(err)
					}
				})
			},
			error: function(err){
				console.log(err)
			}
		})
 }
	
	</script>