<div class="col-xl-2 col-lg-3 col-sm-4 col-6 pb-4">
                            <div class="custom-card">
                                <div class="custom-card--img">
                                    <a class="playlist-xhr" href="javascript:play('<%= playlist.id %>')"><img src="../assets/users/playlist.jpeg" alt="I Love You Mummy" class="card-img--radius-md"></a>
                                </div>
                                 <button class="btn btn-secondary" style="margin: 0 0 0 50px" onclick="link('<%= playlist.id %>')"><%= playlist.name %></button>

                                </a>
                            </div>

                        </div>
<script type="text/javascript">
function link(id){
	window.location.href = `/playlists/${id}`
}
function convert(arr){
	let newArr = arr.map(song=>({
		name: song.title,
		artist: song.artist_name,
		album: song.album_name,
		url: song.url,
		cover_art_url: song.picture
	}))
	return newArr;
}
 function play(id){
 	$.ajax({
			url: "/post_song",
			dataType: "json",
			method: "POST",
			data: {"url": id},
			success: function(){
				$.ajax({
					url: "/get_songs.json",
					dataType: "json",
					method: "GET",
					success: function(res){
						console.log(res)
						let arr = convert(res);
						console.log(arr)
						if(arr.length > 0){
							Amplitude.addPlaylist(
							{songs: [...arr],
								playlists: {
									special: {
										songs: [...arr]
									}
						}})
						Amplitude.playNow(arr[0])
						}
						else {
							$.notify("this playlist is empty","error")
						}

					},
					error: function(err){
						console.log(err)
					}
				})
			},
			error: function(err){
				console.log(err)
			}
		})
 }

	</script>
