            <div class="main-container">
                <div class="section">
                    <div class="heading">
                        <div class="d-flex flex-wrap align-items-end">
                            <div class="flex-grow-1">
                                <h4>My playlists</h4>
                            </div><a href="javascript:void(0);" class="btn btn-sm btn-pill btn-air btn-primary">Clear All</a></div>
                        <hr>
                    </div>
                    <div class="row">
                       <%= render @play_lists %>
                    </div>
                </div>
            </div>